In [ ]:
pip install nltk

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (3.7)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from nltk) (4.64.1)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from nltk) (7.1.2)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.7/dist-packages (from nltk) (2022.6.2)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from nltk) (1.2.0)

In [ ]:
import pandas as pd
import numpy as nd
import nltk as ns

In [ ]:
ns.download('stopwords')
ns.download('wordnet')
ns.download('averaged_perceptron_tagger')
ns.download('punkt')
ns.download('vader_lexicon')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package vader_lexicon to /root/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
path="/content/drive/MyDrive/farmer/tweets.csv"
df=pd.read_csv(path)
df.head()

,tweetUrl,date,renderedContent,tweetId,userId,replyCount,retweetCount,likeCount,quoteCount,source,media,retweetedTweet,quotedTweet,mentionedUsers
0,https://twitter.com/ShashiRajbhar6/status/1376...,2021-03-30 03:33:46+00:00,Support ðŸ‘‡\n\n#FarmersProtest,1.376739e+18,1.015970e+18,0,0,0,0,"<a href=""http://twitter.com/download/android"" ...",NaN,NaN,NaN,NaN
1,https://twitter.com/kaursuk06272818/status/137...,2021-03-30 03:33:23+00:00,Supporting farmers means supporting our countr...,1.376739e+18,1.332937e+18,0,0,0,0,"<a href=""http://twitter.com/download/android"" ...",[{'previewUrl': 'https://pbs.twimg.com/media/E...,NaN,NaN,NaN
2,https://twitter.com/kaursuk06272818/status/137...,2021-03-30 03:31:00+00:00,Support farmers if you are related to food #St...,1.376739e+18,1.332937e+18,0,0,0,0,"<a href=""http://twitter.com/download/android"" ...",[{'previewUrl': 'https://pbs.twimg.com/media/E...,NaN,NaN,NaN
3,https://twitter.com/SukhdevSingh_/status/13767...,2021-03-30 03:30:45+00:00,#StopHateAgainstFarmers support #FarmersProtes...,1.376739e+18,1.308357e+18,0,1,3,0,"<a href=""http://twitter.com/download/android"" ...",NaN,NaN,NaN,NaN
4,https://twitter.com/Davidmu66668113/status/137...,2021-03-30 03:30:30+00:00,"You hate farmers I hate you, \nif you love the...",1.376739e+18,1.357312e+18,0,0,1,0,"<a href=""http://twitter.com/download/android"" ...",NaN,NaN,NaN,NaN

In [ ]:
df.iloc[2].values[2]#value accessed by row

'Support farmers if you are related to food #StopHateAgainstFarmers #FarmersProtest https://t.co/TcoZx4ZmyU'

In [ ]:
#print(df.shape)#gives the total rows and columns in the datasheet
df=df.head(500)#limit the number of rows from the datasheet to certain value 
print(df.shape)

(500, 14)

In [ ]:
data=df['renderedContent'][4]#accessing the element at the 4th column of that row
print(data)

You hate farmers I hate you,
if you love them I love you! ;)

#StopHateAgainstFarmers
#FarmersProtest

In [ ]:
tokens=ns.word_tokenize(data)
print(tokens)

['#', 'StopHateAgainstFarmers', '#', 'FarmersProtest', 'is', 'against', 'Farm', 'Laws', ',', 'not', 'against', 'any', 'religion', 'or', 'political', 'party', 'except', 'ruling', 'party', ',', 'wich', 'is', 'ignoring', 'farmers', 'for', 'the', 'interests', 'of', 'the', 'Corporates', '.']

In [ ]:
ns.pos_tag(tokens)

[('#', '#'),
 ('StopHateAgainstFarmers', 'NNP'),
 ('#', '#'),
 ('FarmersProtest', 'NNP'),
 ('is', 'VBZ'),
 ('against', 'IN'),
 ('Farm', 'NNP'),
 ('Laws', 'NNP'),
 (',', ','),
 ('not', 'RB'),
 ('against', 'IN'),
 ('any', 'DT'),
 ('religion', 'NN'),
 ('or', 'CC'),
 ('political', 'JJ'),
 ('party', 'NN'),
 ('except', 'IN'),
 ('ruling', 'VBG'),
 ('party', 'NN'),
 (',', ','),
 ('wich', 'WP'),
 ('is', 'VBZ'),
 ('ignoring', 'VBG'),
 ('farmers', 'NNS'),
 ('for', 'IN'),
 ('the', 'DT'),
 ('interests', 'NNS'),
 ('of', 'IN'),
 ('the', 'DT'),
 ('Corporates', 'NNP'),
 ('.', '.')]

# **vader technique for sentiment analysis**

In [ ]:
from nltk.sentiment import SentimentIntensityAnalyzer

In [ ]:
sia=SentimentIntensityAnalyzer()

In [ ]:
sia.polarity_scores('artist')

{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}

In [ ]:
sia.polarity_scores(data)

{'neg': 0.274, 'neu': 0.333, 'pos': 0.392, 'compound': 0.4926}

In [ ]:
result={}
for i,row in df.iterrows():
  text=row['renderedContent']
  result[i]=sia.polarity_scores(text)

In [ ]:
pd.DataFrame(result).T #.T for taking the transpose

       neg    neu    pos  compound
0    0.000  0.270  0.730    0.4019
1    0.000  0.547  0.453    0.7003
2    0.000  0.787  0.213    0.4019
3    0.201  0.455  0.344    0.4939
4    0.274  0.333  0.392    0.4926
..     ...    ...    ...       ...
495  0.363  0.637  0.000   -0.6908
496  0.190  0.742  0.068   -0.2439
497  0.197  0.803  0.000   -0.4019
498  0.000  0.856  0.144    0.4927
499  0.000  1.000  0.000    0.0000

[500 rows x 4 columns]